html {
  background-color: #121212;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label, p, h3, .table, .table thead th, .table tfoot th, .modal-card-title {
  color: #8a8a8a;
}

h1, h2, .input, .button {
  color: #dfe0e3;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.search {
  align-self: center;
  text-align: end;
  padding: 0px !important;
}

.modal-card-head, .modal-card-body {
  background-color: #1b1d22;
}

.modal-card-body {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.modal-card-head{
  border-bottom: 1px solid #76767621;
}

.modal label {
  color: #5e5e5e;
  font-size: 12px;
  font-weight: 600;
}

.modal p {
  font-size: 15px;
}

.table {
  background-color: transparent;
}

.table td, .table th {
  border: 1px solid #76767621;
  border-width: 0 0 1px;
  padding: 0 1.2em;
  vertical-align: middle;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: #1d1d1d;
}

.table thead tr, .table tfoot tr {
  height: 60px;
  font-size: 13px;
}

.table tbody tr {
  height: 45px;
  font-size: 15px;
  cursor: pointer;
}

/* .table {
  border: 1px solid #76767621 !important;
  border-radius: 0.75rem !important;
} */

.wallet-adapter-dropdown {
  width: 100%;
}

.form {
  display: flex;
}

.main {
  margin-top: 50px;
  border: 1px solid #76767621;
  border-radius: 0.75rem;
}

.center {
  text-align: center;
}

.actions .action {
  width: 49%;
}

.content .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input, .button-action {
  font-weight: 600;
  font-size: 14px;
}

.input {
  background-color: #2d2e33;
  border-color: #2d2e33;
}

.button {
  border-radius: 8px;
  background-color: #512da8;
  border: unset;
  font-size: 16px;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  width: 100%;
}

.buttons.has-addons {
  justify-content: center;
}

.fas {
  font-size: 13px;
}

.button.is-primary {
  background-color: #512da8;
}

.button.is-outline {
  color: #bc86fc;
  border: 1px solid #bc86fc;
}

.button.is-primary:hover {
  background-color: #1a1f2e;
}

.column {
  padding: 1.2rem;
}

::placeholder {
  color: #54504e !important;
}

.control {
  display: grid;
  margin: 10px 0;
}

.control label {
  font-size: 14px;
}

.sm {
  width: 30%;
}

.md {
  width: 70%;
}

@media screen and (max-width: 600px) {
  .buttons button {
    font-size: 14px;
  }
  body {
    margin: 0 30px;
  }
}
